@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }

#sticky-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    
    z-index: 9997;
    padding: 3rem 20px;
    background:  #d53369;

}

.nav-container{
    display: flex;
    flex-direction: column;
}

.nav-container a,
  .nav-container a:focus {
    display: flex;
    align-items: center;
    color: #d5d5d6;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    text-decoration: none;
  }

  .nav-container a:hover,
  .nav-container .active,
  .nav-container .active:focus {
    text-decoration: none;
    color: #fff;
  }

  .main-section{
    margin-left: 300px;
  }

  .search_area{
    display: flex;
    justify-content: space-evenly;
   
    overflow: visible;
    padding: 2rem;
  }

  .int-field{
    padding:8px 12px;
    background-color: white;
    border: 1px solid rgb(198, 195, 196);
    outline: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);

  }

  .s-btn{
    border: none;
    outline: none;
    background-color: #d53369;
    color:white;
    border-radius: 5px;
    padding:8px 12px;
    cursor: pointer;
  }

  .post-container{
    width:45%;
    margin: 2rem auto;
    border:1px solid rgb(211, 209, 210);
    
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.1);

  }

  .title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 4rem;
    padding-bottom: 8px;
    position: relative;
    color: #173b6c;
    margin-left: 360px;
  }
  
  .title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    bottom: 0;
    left: 0;
  }

  
  .testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background:linear-gradient(90deg, #d53369 0%, #daae51 100%);
}


.testimonial-card .avatar {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin:-70px auto 0px auto;
    overflow: hidden;
    border-radius: 50%;
}

.img-av{
  width:120px;
  height: 120px;
  object-fit: cover;
  object-position: center;

}

.card-body{
    text-align: center;

}

.name-btn{
    padding:8px 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #d53369;
    color:white;
    margin: 10px 0;
}

.post-writings{
    background-color: white;
    text-align: left;
    padding:1.5rem 1rem;
    font-size: 17px;
    margin:1rem 10px;
    border:1px solid rgb(195, 192, 193);
    border-radius: 5px;
}

.post-time{
    margin-bottom:1rem;
}

.card-footer{
    text-align: center;
    border-top: 1px solid rgb(213, 210, 211);
    padding:10px 0;
    background-color: rgb(226, 224, 225);
}
  
.interect-int{
    padding:8px 12px;
    border-radius: 5px;
    border: 1px solid rgb(195, 192, 193);
    outline: none;
    width:300px;
}

.interect-int:focus{
  border:1px solid #d53369;
}
.int-btn{
    padding:8px 12px;
    border-radius: 5px;
    border:none;
    outline:none;
    color:white;
    background-color: #d53369;
    font-weight: 500;
    cursor: pointer;
}

.search-opt{
  padding:8px 12px;
  background-color: white;
  border: 1px solid rgb(195, 192, 193);
  outline: none;
  border-radius: 5px;
  width:190px;
  
  cursor: pointer;
}

.int-cmt{
  font-weight: 500;
  background-color: rgb(198, 194, 196);
  padding: 5px;
  border-radius: 10px;
   margin-left: 10px;
}


.cmt-div{
  padding-top:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}



